.s-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  pointer-events: auto;

  &.absolute {
    position: absolute;
  }
}

.s-overlay__scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: inherit;
  will-change: opacity;
}

.s-overlay__content {
  position: relative;
}
